:root{
  --CR_degrade_bleu1:#4272AD;
  --CR_degrade_bleu2:#AAC2DF;
}

/* couleur du texte */
aed{color:#D80353;}ard{color:#FAA401;}dor{color:#587E70;}eal{color:#964BFA;}gai{color:#1560BD;}lam{color:#F2C6FF;}lcl{color:#4D59A8;}
hpc{color:#893b4c;}mgn{color:#5847a4;}eko{color:#FF007F;}srs{color:#5A968D;}orn{color:#376794;}trm{color:#ccccff;}ace{color:#86D5C2;}
aur{color:#006600;}vip{color:#0099ff;}bdw{color:#038BA0;}fen{color:#946DE8;}kni{color:#87cefa;}crv{color:#038BA0;}prl{color:#faaacf;}

degrade_bleu{
   background: linear-gradient(-225deg, var(--CR_degrade_bleu1) 0%, var(--CR_degrade_bleu2) 100%) !important;
   -webkit-background-clip: text !important;
   -webkit-text-fill-color: transparent!important;
}
centrer{
  text-align: center;
  width: 100%;
  display: block;
}
/* surcharge de tous les liens des posts */
.hl_interne_post a {
  text-decoration: none !important;
  color:#5c6e77;
}
.hl_interne_post a:visited {
  text-decoration: none !important;
  color:#5c6e77;
}
sans_saut_ligne > br{
  display:none;
}

img[class^="img_modale_"]{
    border: 1px solid rgba(214, 178, 94, .85);
    border-radius: 10px;
    cursor:zoom-in;
}

.img_modale_50  { width:50px; }
.img_modale_100 { width:100px; }
.img_modale_150 { width:150px; }
.img_modale_200 { width:200px; }
.img_modale_250 { width:250px; }
.img_modale_300 { width:300px; }
.img_modale_350 { width:350px; }
.img_modale_400 { width:400px; }
.img_modale_450 { width:450px; }
.img_modale_500 { width:500px; }
.img_modale_550 { width:550px; }
.img_modale_600 { width:600px; }
